In [6]:
import pandas as pd
import os
import numpy as np
import matplotlib.ticker as mtick
import arcpy

# Import the required ArcGIS API for Python modules
import arcgis
from arcgis.gis import GIS
from arcgis.geoanalytics import manage_data

from IPython.display import display, Markdown

In [7]:
#get root folder
dir_working = os.getcwd()
print(dir_working)

#define folders
dir_process  = os.path.join(dir_working, "intermediate")
dir_results  = os.path.join(dir_working, "results"     )
dir_inputs   = os.path.join(dir_working, "inputs"      )
dir_data     = os.path.join(dir_inputs , "REMMdata"    )

AnalysisAreasInput = os.path.join(dir_data  , r"CentersTOD.gdb\MaxCapacityAnalysisAreasCombined")
BaseParcels        = os.path.join(dir_data  , r"parcels\Center01102019.gdb\BaseGP01102019"      )
CenterParcels      = os.path.join(dir_data  , r"parcels\Center01102019.gdb\Center01102019"      )
Buildings          = os.path.join(dir_data  , r"BASE_run_285_2015_parcel_dev.csv"               )
ClassParameters    = os.path.join(dir_inputs, r"class_parameters.csv"                           )

ProcessGDB = "process.gdb"

#name of new data features
AnalysisAreas         = os.path.join(dir_process, ProcessGDB + "\AnalysisAreas"        )
AnalysisAreas_ByName  = os.path.join(dir_process, ProcessGDB + "\AnalysisAreas_ByName" )
AnalysisAreas_ByClass = os.path.join(dir_process, ProcessGDB + "\AnalysisAreas_ByClass")
AnalysisAreas_IDs     = os.path.join(dir_process, ProcessGDB + "\AnalysisAreas_IDs"    )
Parcels               = os.path.join(dir_process, ProcessGDB + "\Parcels"              )
ParcelsAA_join        = os.path.join(dir_process, ProcessGDB + "\ParcelsAA_join"       )
ParcelsAA             = os.path.join(dir_process, ProcessGDB + "\ParcelsAA"            )

#name of new data features
AnalysisAreas_shp         = os.path.join(dir_process, "AnalysisAreas.shp"        )
AnalysisAreas_ByName_shp  = os.path.join(dir_process, "AnalysisAreas_ByName.shp" )
AnalysisAreas_ByClass_shp = os.path.join(dir_process, "AnalysisAreas_ByClass.shp")
AnalysisAreas_IDs_shp     = os.path.join(dir_process, "AnalysisAreas_IDs.shp"    )
Parcels_shp               = os.path.join(dir_process, "Parcels.shp"              )
ParcelsAA_shp             = os.path.join(dir_process, "ParcelsAA.shp"            )

def deleteIfExists(obj):
    if arcpy.Exists(obj): arcpy.Delete_management(obj)

print(AnalysisAreasInput)

E:\GitHub\Centers-Capacity-Tool
E:\GitHub\Centers-Capacity-Tool\inputs\REMMdata\CentersTOD.gdb\MaxCapacityAnalysisAreasCombined

# Prep Analysis Areas

In [8]:
#Create Analysis Area Layer in Intermediate Files and Fill with a AAName that combines Name and TOD status

sAreaBlankName  = 'No Area Name'

sAAName  = "AnalysisAreaName" #field for calculated Analysis Area Name
sAAClass = "AnalysisAreaClass" #field for calculated Analysis Area Class

#if processing geodatabase doesn't exist, create it
print("Checking if " + ProcessGDB + " exists...")
if not arcpy.Exists(os.path.join(dir_process, ProcessGDB)):
    print("Creating " + ProcessGDB + "...")
    arcpy.management.CreateFileGDB(dir_process, ProcessGDB)
else:
    print(ProcessGDB + " exists...")

print ("Creating Analysis Input Area intermediate layer in " + ProcessGDB + "...")
deleteIfExists(AnalysisAreas)
arcpy.management.Copy(AnalysisAreasInput, AnalysisAreas)

## Subroutines

print ("Adding " + sAAName + " field to " + AnalysisAreas + "...")
arcpy.AddField_management(AnalysisAreas, sAAName , "TEXT", 50)
arcpy.AddField_management(AnalysisAreas, sAAClass, "TEXT", 50)

#create calculated name for analysis areas combining center name and tod status
areaname_codeblock = """def createAreaName(centername, tod, objid):
    if (centername!=''):
        return centername
    elif (centername=='' and tod == 'Yes'):
        return '_TOD ' + str(objid)
    elif (centername==''):
        return 'No Area Name'"""

#create calculated Class for analysis area combining center Class and tod status
centerClass_codeblock = """def createClassName(centerClass, tod):
    if (centerClass!='' and tod == 'Yes'):
        return centerClass + ' and TOD'
    elif (centerClass=='' and tod == 'Yes'):
        return 'TOD Only'
    elif (centerClass!='' and tod == 'No'):
        return centerClass + ' and No TOD'
    elif (centerClass=='' and tod == 'No'):
        return 'No Class No TOD'"""


print ("Calculating " + sAAName + " field...")
arcpy.CalculateField_management(AnalysisAreas,
                                sAAName,
                                "createAreaName(!AreaName!,!QtrMileTS!,!OBJECTID!)",
                                "PYTHON_9.3",
                                areaname_codeblock)
print ("Calculating " + sAAClass + " field...")
arcpy.CalculateField_management(AnalysisAreas,
                                sAAClass,
                                "createClassName(!CenterLevel!,!QtrMileTS!)",
                                "PYTHON_9.3",
                                centerClass_codeblock)

print ("Creating " + AnalysisAreas_ByName + " intermediate layer in " + ProcessGDB + "...")
deleteIfExists(AnalysisAreas_ByName)
arcpy.management.Dissolve(AnalysisAreas, AnalysisAreas_ByName,  sAAName)


print ("Creating " + AnalysisAreas_ByClass + " intermediate layer in " + ProcessGDB + "...")
deleteIfExists(AnalysisAreas_ByClass)
arcpy.management.Dissolve(AnalysisAreas, AnalysisAreas_ByClass, sAAClass)


print ("All Done")

Checking if process.gdb exists...
process.gdb exists...
Creating Analysis Input Area intermediate layer in process.gdb...
Adding AnalysisAreaName field to E:\GitHub\Centers-Capacity-Tool\intermediate\process.gdb\AnalysisAreas...
Calculating AnalysisAreaName field...
Calculating AnalysisAreaClass field...
Creating E:\GitHub\Centers-Capacity-Tool\intermediate\process.gdb\AnalysisAreas_ByName intermediate layer in process.gdb...
Creating E:\GitHub\Centers-Capacity-Tool\intermediate\process.gdb\AnalysisAreas_ByClass intermediate layer in process.gdb...
All Done

In [9]:
#create csv shells for values

#Areas data
df_AnalysisAreas = pd.DataFrame()

cursorName = arcpy.SearchCursor(AnalysisAreas_ByName)
row = cursorName.next()
while row:
    #print(row.getValue(sAAName))
    df_AnalysisAreas = df_AnalysisAreas.append({sAAName : row.getValue(sAAName)},ignore_index=True)
    row = cursorName.next()  
    
df_AnalysisAreas.index.name = 'AreaID'
df_AnalysisAreas = df_AnalysisAreas.reset_index()
df_AnalysisAreas.to_csv(os.path.join(dir_results, r'areas.csv'),index=False)
display(df_AnalysisAreas)


#Classes data
df_Classes = pd.DataFrame()

cursorClass = arcpy.SearchCursor(AnalysisAreas_ByClass)
row = cursorClass.next()
while row:
    #print(row.getValue(sAAClass))
    df_Classes = df_Classes.append({'ClassDescription' : row.getValue(sAAClass)},ignore_index=True)
    row = cursorClass.next()


lColumns_Class = ['SFSplitRes','SFSplitCom','CapacityRes_DUA','CapacityCom_FAR','SFperHH','SFperEmp','PercentOpenSpace','RedevValuePerAcreRes','RedevValuePerAcreCom','RedevBldgAgeRes','RedevBldgAgeCom','GrowthRateRes','GrowthRateCom']

for col in lColumns_Class:
    df_Classes[col] = ""
    
df_Classes.index.name = 'ClassID'
    
display(df_Classes)

df_Classes.to_csv(os.path.join(dir_process, r'class_parameters_shell.csv'))

     AreaID                              AnalysisAreaName
0         0                                      _TOD 226
1         1                                      _TOD 227
2         2                                      _TOD 228
3         3                                      _TOD 229
4         4                                      _TOD 230
..      ...                                           ...
223     223                          West Point 2000 West
224     224                      West Point SR 193 Center
225     225                          West Roy Town Center
226     226                         West Valley 5600 West
227     227  West Valley/Taylorsville Redwood Road Center

[228 rows x 2 columns]

,ClassDescription,SFSplitRes,SFSplitCom,CapacityRes_DUA,CapacityCom_FAR,SFperHH,SFperEmp,PercentOpenSpace,RedevValuePerAcreRes,RedevValuePerAcreCom,RedevBldgAgeRes,RedevBldgAgeCom,GrowthRateRes,GrowthRateCom
ClassID,,,,,,,,,,,,,,
0,City Center and No TOD,,,,,,,,,,,,,
1,City Center and TOD,,,,,,,,,,,,,
2,Metropolitan Center and No TOD,,,,,,,,,,,,,
3,Metropolitan Center and TOD,,,,,,,,,,,,,
4,TOD Only,,,,,,,,,,,,,
5,Urban Center and No TOD,,,,,,,,,,,,,
6,Urban Center and TOD,,,,,,,,,,,,,

In [10]:
df_ClassParam = pd.read_csv(ClassParameters)
display(df_ClassParam)

,ClassID,ClassDescription,SFSplitRes,SFSplitCom,CapacityRes_DUA,CapacityCom_FAR,SFperHH,SFperEmp,PercentOpenSpace,RedevValuePerAcreRes,RedevValuePerAcreCom,RedevBldgAgeRes,RedevBldgAgeCom,GrowthRateRes,GrowthRateCom,ClassOrder
0,3,Metropolitan Center and TOD,0.20,0.80,220,6,1200,600,0.1,500000,300000,80,40,1.05,1.05,1
1,2,Metropolitan Center and No TOD,0.25,0.75,110,3,1200,600,0.1,500000,300000,80,40,1.05,1.05,2
2,6,Urban Center and TOD,0.20,0.80,110,3,1200,600,0.1,500000,300000,80,40,1.05,1.05,3
3,5,Urban Center and No TOD,0.25,0.75,70,2,1200,600,0.1,500000,300000,80,40,1.05,1.05,4
4,1,City Center and TOD,0.50,0.50,70,2,1200,600,0.1,500000,300000,80,40,1.05,1.05,5
5,0,City Center and No TOD,0.50,0.50,35,1,1200,600,0.1,500000,300000,80,40,1.05,1.05,6
6,4,TOD Only,0.70,0.30,35,1,1200,600,0.1,500000,300000,80,40,1.05,1.05,7

In [11]:
#create layer with just IDs to make union cleaner

df_ClassIDs = df_ClassParam[['ClassID','ClassDescription']]
#display(df_ClassIDs)

sdf_AA = pd.DataFrame.spatial.from_featureclass(AnalysisAreas)
#display(sdf_AnalysisAreas)

sdf_AAwClassID =  pd.DataFrame.merge(sdf_AA,df_ClassIDs,left_on=sAAClass, right_on='ClassDescription')
#display(sdf_AAwID)

sdf_AAwClassIDwNameID =  pd.DataFrame.merge(sdf_AAwClassID,df_AnalysisAreas,on=sAAName)
#display(sdf_AAwClassIDwNameID)

sdf_AAIDs = sdf_AAwClassIDwNameID[['AreaID','ClassID','SHAPE']]
#display(sdf_AAIDs)

#arcpy.Delete_management(AnalysisAreas_IDs)
deleteIfExists(AnalysisAreas_IDs)
sdf_AAIDs.spatial.to_featureclass(location=AnalysisAreas_IDs)
print('All Done')

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\arcgis\features\geo\_accessor.py:1169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._data[col] = GeoArray(self._data[col])

All Done

# Prep Parcels

In [12]:
#read in parcels
sdf_bPar = pd.DataFrame.spatial.from_featureclass(BaseParcels)

In [13]:
sdf_bPar

,OBJECTID,parcel_id,parcel_id_REMM,basebldg,Sliver,parcel_sqft,Split,x,y,parcel_acre,...,type5,type6,type7,type8,max_height,Agriculture,NoBuild,redev_friction,note,SHAPE
0,1,671124.0,671124.0,0.0,None,16203.648534,None,1.572705e+06,7.294321e+06,0.371986,...,t,f,f,f,999.0,0.0,NaN,NaN,None,"{""rings"": [[[1572658.531162396, 7294412.922931..."
1,2,588354.0,588354.0,0.0,None,49466.799191,None,1.572481e+06,7.293816e+06,1.135606,...,t,f,f,f,999.0,0.0,NaN,NaN,None,"{""rings"": [[[1572446.1962272525, 7294150.73555..."
2,3,664267.0,664267.0,1.0,None,27944.879802,None,1.571343e+06,7.291668e+06,0.641529,...,f,f,f,f,999.0,0.0,NaN,NaN,None,"{""rings"": [[[1571352.9701225907, 7291780.92202..."
3,4,632453.0,632453.0,1.0,None,15190.031848,None,1.580054e+06,7.303541e+06,0.348717,...,f,f,f,f,999.0,0.0,NaN,NaN,None,"{""rings"": [[[1579974.9191654772, 7303604.60588..."
4,5,632450.0,632450.0,1.0,None,10092.376514,None,1.580190e+06,7.303272e+06,0.231690,...,f,f,f,f,999.0,0.0,NaN,NaN,None,"{""rings"": [[[1580242.158429563, 7303338.493389..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845215,845216,601655.0,886696.0,0.0,None,137565.519929,1,1.573685e+06,7.220955e+06,3.158082,...,f,f,f,f,999.0,1.0,NaN,None,None,"{""rings"": [[[1573850.763353318, 7220743.714214..."
845216,845217,601655.0,886697.0,0.0,None,213243.313865,1,1.573302e+06,7.220958e+06,4.895412,...,f,f,f,f,999.0,1.0,NaN,None,None,"{""rings"": [[[1573537.6948660016, 7220743.71421..."
845217,845218,601655.0,886698.0,0.0,None,214262.868997,1,1.572836e+06,7.220958e+06,4.918818,...,f,f,f,f,999.0,1.0,NaN,None,None,"{""rings"": [[[1573072.201039672, 7220743.714214..."
845218,845219,601655.0,886699.0,0.0,None,55026.868822,1,1.572074e+06,7.220958e+06,1.263248,...,f,f,f,f,999.0,0.0,NaN,None,None,"{""rings"": [[[1572137.6125155538, 7220743.71421..."
845219,845220,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,...,None,None,None,None,NaN,NaN,NaN,None,None,None

In [14]:
#set field for commercial, residential, or mixed

sdf_bPar['luType'] = ''

#undevelopable land (all building types are 'f')
sdf_bPar.loc[((sdf_bPar['type1'] == 'f') &
              (sdf_bPar['type2'] == 'f') &
              (sdf_bPar['type3'] == 'f') &
              (sdf_bPar['type4'] == 'f') &
              (sdf_bPar['type5'] == 'f') &
              (sdf_bPar['type6'] == 'f') &
              (sdf_bPar['type7'] == 'f') &
              (sdf_bPar['type8'] == 'f')), 'luType'] = 'Undevelopable'

sdf_bPar = sdf_bPar.drop(columns=['OBJECTID'      ,
                                  'city'          ,
                                  'x'             ,
                                  'y'             ,
                                  'county_name'   ,
                                  'distsml_id'    ,
                                  'distmed_id'    ,
                                  'distlrg_id'    ,
                                  'county_taz_id' ,
                                  'NoBuild'       ,
                                  'redev_friction',
                                  'Agriculture'   ,
                                  'Sliver'        ,
                                  'Split'         ,
                                  'utmxi'         ,
                                  'utmyi'         ,
                                  'note'          ,
                                  'zone_id'       ,
                                  'type1'         ,
                                  'type2'         ,
                                  'type3'         ,
                                  'type4'         ,
                                  'type5'         ,
                                  'type6'         ,
                                  'type7'         ,
                                  'type8'])

In [15]:
sdf_bPar

,parcel_id,parcel_id_REMM,basebldg,parcel_sqft,parcel_acre,county_id,max_dua,max_far,max_height,SHAPE,luType
0,671124.0,671124.0,0.0,16203.648534,0.371986,4.0,NaN,0.50,999.0,"{""rings"": [[[1572658.531162396, 7294412.922931...",
1,588354.0,588354.0,0.0,49466.799191,1.135606,4.0,NaN,0.50,999.0,"{""rings"": [[[1572446.1962272525, 7294150.73555...",
2,664267.0,664267.0,1.0,27944.879802,0.641529,4.0,NaN,0.41,999.0,"{""rings"": [[[1571352.9701225907, 7291780.92202...",
3,632453.0,632453.0,1.0,15190.031848,0.348717,4.0,4.000,NaN,999.0,"{""rings"": [[[1579974.9191654772, 7303604.60588...",
4,632450.0,632450.0,1.0,10092.376514,0.231690,4.0,4.000,NaN,999.0,"{""rings"": [[[1580242.158429563, 7303338.493389...",
...,...,...,...,...,...,...,...,...,...,...,...
845215,601655.0,886696.0,0.0,137565.519929,3.158082,4.0,0.025,NaN,999.0,"{""rings"": [[[1573850.763353318, 7220743.714214...",
845216,601655.0,886697.0,0.0,213243.313865,4.895412,4.0,0.025,NaN,999.0,"{""rings"": [[[1573537.6948660016, 7220743.71421...",
845217,601655.0,886698.0,0.0,214262.868997,4.918818,4.0,0.025,NaN,999.0,"{""rings"": [[[1573072.201039672, 7220743.714214...",
845218,601655.0,886699.0,0.0,55026.868822,1.263248,4.0,0.025,NaN,999.0,"{""rings"": [[[1572137.6125155538, 7220743.71421...",
845219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,

In [16]:
sdf_bPar_luTypeEmpty = sdf_bPar.loc[(sdf_bPar['luType'] == '')]
sdf_bPar_luTypeEmpty

,parcel_id,parcel_id_REMM,basebldg,parcel_sqft,parcel_acre,county_id,max_dua,max_far,max_height,SHAPE,luType
0,671124.0,671124.0,0.0,16203.648534,0.371986,4.0,NaN,0.50,999.0,"{""rings"": [[[1572658.531162396, 7294412.922931...",
1,588354.0,588354.0,0.0,49466.799191,1.135606,4.0,NaN,0.50,999.0,"{""rings"": [[[1572446.1962272525, 7294150.73555...",
2,664267.0,664267.0,1.0,27944.879802,0.641529,4.0,NaN,0.41,999.0,"{""rings"": [[[1571352.9701225907, 7291780.92202...",
3,632453.0,632453.0,1.0,15190.031848,0.348717,4.0,4.000,NaN,999.0,"{""rings"": [[[1579974.9191654772, 7303604.60588...",
4,632450.0,632450.0,1.0,10092.376514,0.231690,4.0,4.000,NaN,999.0,"{""rings"": [[[1580242.158429563, 7303338.493389...",
...,...,...,...,...,...,...,...,...,...,...,...
845215,601655.0,886696.0,0.0,137565.519929,3.158082,4.0,0.025,NaN,999.0,"{""rings"": [[[1573850.763353318, 7220743.714214...",
845216,601655.0,886697.0,0.0,213243.313865,4.895412,4.0,0.025,NaN,999.0,"{""rings"": [[[1573537.6948660016, 7220743.71421...",
845217,601655.0,886698.0,0.0,214262.868997,4.918818,4.0,0.025,NaN,999.0,"{""rings"": [[[1573072.201039672, 7220743.714214...",
845218,601655.0,886699.0,0.0,55026.868822,1.263248,4.0,0.025,NaN,999.0,"{""rings"": [[[1572137.6125155538, 7220743.71421...",
845219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,

In [17]:
sdf_bPar_lutypeTotals = sdf_bPar.groupby(['luType']).agg({"parcel_id": [np.size],"parcel_acre": [np.sum]})
sdf_bPar_lutypeTotals

              parcel_id    parcel_acre
                   size            sum
luType
               769736.0  497362.532526
Undevelopable   75484.0  284200.922445

In [18]:
sdf_bParProcessed = sdf_bPar[['parcel_id_REMM','parcel_acre','luType','SHAPE']]

In [19]:
sdf_bParProcessed

,parcel_id_REMM,parcel_acre,luType,SHAPE
0,671124.0,0.371986,,"{""rings"": [[[1572658.531162396, 7294412.922931..."
1,588354.0,1.135606,,"{""rings"": [[[1572446.1962272525, 7294150.73555..."
2,664267.0,0.641529,,"{""rings"": [[[1571352.9701225907, 7291780.92202..."
3,632453.0,0.348717,,"{""rings"": [[[1579974.9191654772, 7303604.60588..."
4,632450.0,0.231690,,"{""rings"": [[[1580242.158429563, 7303338.493389..."
...,...,...,...,...
845215,886696.0,3.158082,,"{""rings"": [[[1573850.763353318, 7220743.714214..."
845216,886697.0,4.895412,,"{""rings"": [[[1573537.6948660016, 7220743.71421..."
845217,886698.0,4.918818,,"{""rings"": [[[1573072.201039672, 7220743.714214..."
845218,886699.0,1.263248,,"{""rings"": [[[1572137.6125155538, 7220743.71421..."
845219,NaN,NaN,,None

In [20]:
#read in parcels with Center data - MAX DUA and MAX FAR
sdf_cPar = pd.DataFrame.spatial.from_featureclass(CenterParcels)

In [21]:
sdf_cPar

,OBJECTID,parcel_id_REMM,max_dua,max_far,year,type1,type2,type3,type4,type5,type6,type7,type8,note,NoBuild,PolicyKey,SHAPE
0,1,671124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1572658.531162396, 7294412.922931..."
1,2,588354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1572446.1962272525, 7294150.73555..."
2,3,664267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1571352.9701225907, 7291780.92202..."
3,4,632453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1579974.9191654772, 7303604.60588..."
4,5,632450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1580242.158429563, 7303338.493389..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845214,845215,886695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1574478.0519851, 7220743.71421465..."
845215,845216,886696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1573850.763353318, 7220743.714214..."
845216,845217,886697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1573537.6948660016, 7220743.71421..."
845217,845218,886698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1573072.201039672, 7220743.714214..."
845218,845219,886699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,"{""rings"": [[[1572137.6125155538, 7220743.71421..."

In [22]:
df_cParMax = sdf_cPar.groupby(['parcel_id_REMM'], as_index=False).agg({"max_dua": [np.max],"max_far": [np.max]})

#drop the second header row to allow ease of calcs
df_cParMax.columns = df_cParMax.columns.droplevel(1)

df_cParMax = df_cParMax.dropna(thresh=2) #drop rows with at least 2 NaNs

df_cParMax.columns = ('parcel_id_REMM','max_dua_center','max_far_center')
df_cParMax

        parcel_id_REMM  max_dua_center  max_far_center
5                    7            25.0            1.00
28                  43             0.0            0.41
332                486             0.0            0.41
376                533            30.0            2.00
548                749             0.0            0.41
...                ...             ...             ...
842926          884406             0.0            0.41
842927          884407             0.0            0.41
842928          884408             0.0            0.41
842929          884409             0.0            0.41
842930          884410             0.0            0.41

[72587 rows x 3 columns]

In [23]:

df_parcelwithbldg = pd.read_csv(Buildings)

In [24]:
display(Buildings)

'E:\\GitHub\\Centers-Capacity-Tool\\inputs\\REMMdata\\BASE_run_285_2015_parcel_dev.csv'

In [25]:
pd.set_option('display.max_columns', None)
df_parcelwithbldg

,parcel_id,parcel_id_REMM,county_id,zone_id,parcel_acres,land_value,max_far,max_dua,type1,type2,type3,type4,type5,type6,type7,type8,has_buildings,was_developed,was_redeveloped,developable,residential_units,job_spaces,building_sqft,non_residential_sqft,residential_sqft,unit_price_non_residential,res_price_per_sqft,is_sf,is_mf,is_industrial,is_retail,is_office,is_govt,is_mixeduse,is_other,year_built,building_count,non_res_value,res_value,total_value
0,741871,741871,49,2111,0.197968,35700.00,NaN,6.000,t,f,f,f,f,f,f,f,1,0,0,1.0,1.0,0.0,2434.0,0.0,2434.0,0.0,74.185722,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2005.0,1.0,0.0,180568.046472,216268.046472
1,579822,579822,49,2873,37.717834,56614.32,NaN,NaN,f,f,f,f,f,f,f,f,0,0,0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,56614.320000
2,579853,579853,49,2117,6.791235,81500.00,NaN,6.000,t,f,f,f,f,f,f,f,0,0,0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,81500.000000
3,640185,640185,49,2073,1.372797,112100.00,NaN,2.500,t,f,f,f,f,f,f,f,1,0,0,1.0,1.0,0.0,5499.0,0.0,5499.0,0.0,45.462811,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1981.0,1.0,0.0,249999.999999,362099.999999
4,682698,682698,49,2119,0.163751,43000.00,NaN,0.200,t,f,f,f,f,f,f,f,1,0,0,1.0,1.0,0.0,3046.0,0.0,3046.0,0.0,61.906857,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2006.0,1.0,0.0,188568.285417,231568.285417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841679,886695,886695,49,2666,4.531522,48006.00,NaN,0.025,t,f,f,f,f,f,f,f,0,0,0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,48006.000000
841680,886696,886696,49,2666,3.158082,33456.00,NaN,0.025,t,f,f,f,f,f,f,f,0,0,0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,33456.000000
841681,886697,886697,49,2666,4.895412,51862.00,NaN,0.025,t,f,f,f,f,f,f,f,0,0,0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,51862.000000
841682,886698,886698,49,2666,4.918818,52109.00,NaN,0.025,t,f,f,f,f,f,f,f,0,0,0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,52109.000000
841683,886699,886699,49,2666,1.263248,13383.00,NaN,0.025,t,f,f,f,f,f,f,f,0,0,0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,13383.000000

In [26]:
df_bldg = df_parcelwithbldg[df_parcelwithbldg['has_buildings']==1].copy()

df_bldg['bldgtype'] = ''

#residential building types
df_bldg.loc[(df_bldg['is_sf'] != 0) | (df_bldg['is_mf'] != 0), 'bldgtype'] = 'Residential'

#commercial building types, if mixed use (res and com) then use commercial 
df_bldg.loc[((df_bldg['is_industrial'] != 0) |
             (df_bldg['is_retail'    ] != 0) |
             (df_bldg['is_office'    ] != 0) |
             (df_bldg['is_govt'      ] != 0) |
             (df_bldg['is_mixeduse'  ] != 0) |
             (df_bldg['is_other'     ] != 0)), 'bldgtype'] = 'Commercial'

df_bldg

,parcel_id,parcel_id_REMM,county_id,zone_id,parcel_acres,land_value,max_far,max_dua,type1,type2,type3,type4,type5,type6,type7,type8,has_buildings,was_developed,was_redeveloped,developable,residential_units,job_spaces,building_sqft,non_residential_sqft,residential_sqft,unit_price_non_residential,res_price_per_sqft,is_sf,is_mf,is_industrial,is_retail,is_office,is_govt,is_mixeduse,is_other,year_built,building_count,non_res_value,res_value,total_value,bldgtype
0,741871,741871,49,2111,0.197968,35700.0,NaN,6.000,t,f,f,f,f,f,f,f,1,0,0,1.0,1.0,0.0,2434.0,0.0,2434.0,0.0,74.185722,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2005.0,1.0,0.0,180568.046472,2.162680e+05,Residential
3,640185,640185,49,2073,1.372797,112100.0,NaN,2.500,t,f,f,f,f,f,f,f,1,0,0,1.0,1.0,0.0,5499.0,0.0,5499.0,0.0,45.462811,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1981.0,1.0,0.0,249999.999999,3.621000e+05,Residential
4,682698,682698,49,2119,0.163751,43000.0,NaN,0.200,t,f,f,f,f,f,f,f,1,0,0,1.0,1.0,0.0,3046.0,0.0,3046.0,0.0,61.906857,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2006.0,1.0,0.0,188568.285417,2.315683e+05,Residential
6,693553,693553,49,2147,0.487942,87700.0,NaN,3.000,t,f,f,f,f,f,f,f,1,0,0,1.0,1.0,0.0,3268.0,0.0,3268.0,0.0,56.303550,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1979.0,1.0,0.0,184000.000027,2.717000e+05,Residential
7,658088,658088,49,2143,0.337967,76200.0,NaN,NaN,f,f,f,f,f,f,f,f,1,0,0,0.0,1.0,0.0,4408.0,0.0,4408.0,0.0,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2006.0,1.0,0.0,0.000000,7.620000e+04,Residential
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841528,601446,601446,49,2651,2.902050,14492.0,NaN,NaN,f,f,f,f,f,f,f,f,1,0,0,0.0,1.0,0.0,2935.0,0.0,2935.0,0.0,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1997.0,1.0,0.0,0.000000,1.449200e+04,Residential
841575,609702,609702,49,2731,0.515341,7146.0,NaN,6.000,t,f,f,f,f,f,f,f,1,0,0,1.0,1.0,0.0,2958.0,0.0,2958.0,0.0,36.308316,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1956.0,1.0,0.0,107400.000000,1.145460e+05,Residential
841587,603550,603550,49,2687,4.903986,60519.0,NaN,0.200,t,f,f,f,f,f,f,f,1,0,0,1.0,1.0,0.0,1296.0,0.0,1296.0,0.0,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1971.0,1.0,0.0,0.000000,6.051900e+04,Residential
841621,581782,581782,49,2069,35.460532,1261202.0,NaN,2.500,t,f,f,f,f,f,f,f,1,0,0,1.0,1.0,0.0,1414.0,0.0,1414.0,0.0,0.000000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1917.0,1.0,0.0,0.000000,1.261202e+06,Residential
841663,601655,601655,49,2666,3.376715,35773.0,NaN,0.025,t,f,f,f,f,f,f,f,1,0,0,1.0,1.0,0.0,678.0,0.0,678.0,0.0,40.560472,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1892.0,1.0,0.0,27500.000002,6.327300e+04,Residential

In [27]:
df_bldg[df_bldg['parcel_id']==77033]

,parcel_id,parcel_id_REMM,county_id,zone_id,parcel_acres,land_value,max_far,max_dua,type1,type2,type3,type4,type5,type6,type7,type8,has_buildings,was_developed,was_redeveloped,developable,residential_units,job_spaces,building_sqft,non_residential_sqft,residential_sqft,unit_price_non_residential,res_price_per_sqft,is_sf,is_mf,is_industrial,is_retail,is_office,is_govt,is_mixeduse,is_other,year_built,building_count,non_res_value,res_value,total_value,bldgtype
443785,77033,77033,35,969,6.136467,4282341.82,9.37,125.0,t,t,f,t,t,f,f,f,1,0,0,1.0,144.0,0.0,161779.0,0.0,161779.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2011.0,144.0,0.0,0.0,4282341.82,Residential

In [28]:
#"bldgtype":[np.min] --> 'Commercial' < 'Residential', pick commercial if a mix of types

df_bldg_summary = df_bldg.groupby(['parcel_id'], as_index=False).agg({"bldgtype":[np.min], "year_built":[np.max], "residential_units":[np.sum], "job_spaces":[np.sum], "residential_sqft":[np.sum], "non_residential_sqft":[np.sum], "res_price_per_sqft":[np.mean], "unit_price_non_residential":[np.mean]})
df_bldg_summary.columns = df_bldg_summary.columns.droplevel(1)

df_bldg_summary['value_res'] = df_bldg_summary['residential_sqft'] * df_bldg_summary['res_price_per_sqft']
df_bldg_summary['value_com'] = df_bldg_summary['non_residential_sqft'] * df_bldg_summary['unit_price_non_residential']

df_bldg_summary.columns = ('parcel_id','bldgtype','yearbuilt','resunits','job_spaces','sf_res','sf_com','sfvalue_res','sfvalue_com','value_res','value_com')

df_bldg_summary.to_csv(os.path.join(dir_process, "bldgsummary.csv"))
df_bldg_summary

,parcel_id,bldgtype,yearbuilt,resunits,job_spaces,sf_res,sf_com,sfvalue_res,sfvalue_com,value_res,value_com
0,44,Commercial,1952.0,0.0,39.0,0.0,14586.0,0.0,0.000000,0.0,0.000000
1,152,Residential,1951.0,1.0,0.0,2198.0,0.0,0.0,0.000000,0.0,0.000000
2,215,Commercial,1979.0,0.0,260.0,0.0,97240.0,0.0,0.000000,0.0,0.000000
3,278,Commercial,1914.0,0.0,12.0,0.0,4488.0,0.0,0.000000,0.0,0.000000
4,308,Commercial,1948.0,0.0,14.0,0.0,13650.0,0.0,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
615793,871288,Residential,2007.0,1.0,0.0,3269.0,0.0,0.0,0.000000,0.0,0.000000
615794,872441,Residential,1932.0,1.0,0.0,1680.0,0.0,0.0,0.000000,0.0,0.000000
615795,875208,Residential,2014.0,1.0,0.0,2971.0,0.0,0.0,0.000000,0.0,0.000000
615796,882712,Commercial,1996.0,0.0,1.0,0.0,350.0,0.0,30.428571,0.0,10650.000001
615797,883250,Commercial,1958.0,0.0,4.0,0.0,3900.0,0.0,0.000000,0.0,0.000000

In [29]:
sdf_bPar_cParMax = pd.DataFrame.merge(sdf_bPar,df_cParMax,on='parcel_id_REMM',how='left')
sdf_bPar_cParMax_bldg = pd.DataFrame.merge(sdf_bPar_cParMax,df_bldg_summary,on='parcel_id',how='left')
sdf_bPar_cParMax_bldg

,parcel_id,parcel_id_REMM,basebldg,parcel_sqft,parcel_acre,county_id,max_dua,max_far,max_height,SHAPE,luType,max_dua_center,max_far_center,bldgtype,yearbuilt,resunits,job_spaces,sf_res,sf_com,sfvalue_res,sfvalue_com,value_res,value_com
0,671124.0,671124.0,0.0,16203.648534,0.371986,4.0,NaN,0.50,999.0,"{'rings': [[[1572658.531162396, 7294412.922931...",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,588354.0,588354.0,0.0,49466.799191,1.135606,4.0,NaN,0.50,999.0,"{'rings': [[[1572446.1962272525, 7294150.73555...",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,664267.0,664267.0,1.0,27944.879802,0.641529,4.0,NaN,0.41,999.0,"{'rings': [[[1571352.9701225907, 7291780.92202...",,NaN,NaN,Commercial,2010.0,0.0,4.0,0.0,3900.0,0.000000,0.0,0.000000,0.0
3,632453.0,632453.0,1.0,15190.031848,0.348717,4.0,4.000,NaN,999.0,"{'rings': [[[1579974.9191654772, 7303604.60588...",,NaN,NaN,Residential,1998.0,1.0,0.0,2194.0,0.0,78.133578,0.0,171425.070988,0.0
4,632450.0,632450.0,1.0,10092.376514,0.231690,4.0,4.000,NaN,999.0,"{'rings': [[[1580242.158429563, 7303338.493389...",,NaN,NaN,Residential,1997.0,1.0,0.0,1698.0,0.0,83.941064,0.0,142531.926978,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845215,601655.0,886696.0,0.0,137565.519929,3.158082,4.0,0.025,NaN,999.0,"{'rings': [[[1573850.763353318, 7220743.714214...",,NaN,NaN,Residential,1892.0,1.0,0.0,678.0,0.0,40.560472,0.0,27500.000002,0.0
845216,601655.0,886697.0,0.0,213243.313865,4.895412,4.0,0.025,NaN,999.0,"{'rings': [[[1573537.6948660016, 7220743.71421...",,NaN,NaN,Residential,1892.0,1.0,0.0,678.0,0.0,40.560472,0.0,27500.000002,0.0
845217,601655.0,886698.0,0.0,214262.868997,4.918818,4.0,0.025,NaN,999.0,"{'rings': [[[1573072.201039672, 7220743.714214...",,NaN,NaN,Residential,1892.0,1.0,0.0,678.0,0.0,40.560472,0.0,27500.000002,0.0
845218,601655.0,886699.0,0.0,55026.868822,1.263248,4.0,0.025,NaN,999.0,"{'rings': [[[1572137.6125155538, 7220743.71421...",,NaN,NaN,Residential,1892.0,1.0,0.0,678.0,0.0,40.560472,0.0,27500.000002,0.0
845219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#sdf_bPar_cParMax_bldg.sum()

In [31]:
sdf_bPar_cParMax_bldg.spatial.to_featureclass(location=Parcels)

KeyboardInterrupt:

In [ ]:
#clear memory

del sdf_bPar_cParMax_bldg
del sdf_bPar_cParMax
del sdf_bPar
del sdf_cPar
del df_bldg
del df_bldg_summary

# Intersect Analysis Areas with Parcels

In [ ]:
print ("Calculating parcel acreage...")
arcpy.AddField_management(Parcels, "ParcelAcres" , "DOUBLE")
arcpy.CalculateField_management(Parcels,
                                "Acres",
                                "!shape.area@acres!",
                                "PYTHON_9.3")
print ("Done")

In [ ]:
deleteIfExists(ParcelsAA)

#intersection parcels with analysis area types
arcpy.analysis.Intersect([AnalysisAreas_IDs,Parcels], ParcelsAA_join)

In [ ]:
# Execute DeleteField
arcpy.DeleteField_management(ParcelsAA_join, ['Acres'])

print ("Calculating area...")
arcpy.AddField_management(ParcelsAA_join, "PieceAcres" , "DOUBLE")
arcpy.CalculateField_management(ParcelsAA_join,
                                "PieceAcres",
                                "!shape.area@acres!",
                                "PYTHON_9.3")
arcpy.AddField_management(ParcelsAA_join, "PiecePortion" , "DOUBLE")
arcpy.CalculateField_management(ParcelsAA_join,
                                "PiecePortion",
                                "$feature.PieceAcres / $feature.ParcelAcres", "ARCADE")

print ("Done")

In [ ]:
sdf_ParcelsAA = pd.DataFrame.spatial.from_featureclass(ParcelsAA_join)
sdf_ParcelsAA.columns

In [ ]:
#adjust parcel values by portion of parcel in parcel piece
sdf_ParcelsAA['parcel_sqft'] = sdf_ParcelsAA['parcel_sqft'] * sdf_ParcelsAA['PiecePortion']
sdf_ParcelsAA['resunits'   ] = sdf_ParcelsAA['resunits'   ] * sdf_ParcelsAA['PiecePortion']
sdf_ParcelsAA['job_spaces' ] = sdf_ParcelsAA['job_spaces' ] * sdf_ParcelsAA['PiecePortion']
sdf_ParcelsAA['sf_res'     ] = sdf_ParcelsAA['sf_res'     ] * sdf_ParcelsAA['PiecePortion']
sdf_ParcelsAA['sf_com'     ] = sdf_ParcelsAA['sf_com'     ] * sdf_ParcelsAA['PiecePortion']
sdf_ParcelsAA['value_res'  ] = sdf_ParcelsAA['value_res'  ] * sdf_ParcelsAA['PiecePortion']
sdf_ParcelsAA['value_com'  ] = sdf_ParcelsAA['value_com'  ] * sdf_ParcelsAA['PiecePortion']

#make sure acres used in future is just for piece of parcel, not all
sdf_ParcelsAA['Acres'] = sdf_ParcelsAA['PieceAcres']
display(sdf_ParcelsAA)

display("exporting Parcels")

sdf_bPar_cParMax_bldg.spatial.to_featureclass(location=ParcelsAA)

In [ ]:
sdf_ParcelsAA.groupby(['AreaID','ClassID'], as_index=False).agg({"parcel_id": [np.size], "job_spaces": [np.sum], "resunits":[np.sum], "Acres":[np.sum]})

In [ ]:
#export to shp files for better drawing in Jupyter

deleteIfExists(AnalysisAreas_shp)
print ("Exporting " + AnalysisAreas_shp + "...")
arcpy.conversion.FeatureClassToShapefile(AnalysisAreas, dir_process)

deleteIfExists(AnalysisAreas_IDs_shp)
print ("Exporting " + AnalysisAreas_IDs_shp + "...")
arcpy.conversion.FeatureClassToShapefile(AnalysisAreas_IDs, dir_process)

deleteIfExists(ParcelsAA_shp)
print ("Exporting " + ParcelsAA_shp + "...")
arcpy.conversion.FeatureClassToShapefile(ParcelsAA, dir_process)